
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --main-color: #d62525;
    --background: #fffef9;
    --menu: #8A1717;
}

@font-face {
    font-family:The Seasons;
    src: url("The-Seasons-Bold.otf");
}

* {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    transition: 0.2 linear;

}

body {
    margin: 1rem 1.6rem 1rem 1rem;
}

.menu-header {
    position: fixed;
    z-index: 99;
    border-bottom: var(--main-color);
    background-color: var(--menu);
    top: 0;
    right: 0;
    left: 0;
    
}

.menu-header section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.menu-header a {
    margin-right: 1rem;
    margin-left: 1rem;
}

.nav-bar a {
    color: var(--main-color);
    border-bottom: var(--main-color);
}

h1 {
    font-family:The Seasons, sans-serif;
    font-size: 3rem;
    color: var(--main-color);
    text-align: center;
    margin: 1.5rem 1rem;
}

p {
    font-family: "Raleway", sans-serif;

    font-size: 1.3rem;
}